<div style="width:100%; height:100%; background-color: #F36E50 ">
  Total: <%= @total %>
  <br>
  Found: <%= @found %>
  <br>
  Did not find: <%= @total - @found %>
  <br>
  <%= link_to "Main Library", {controller: "admin", action: "map", floor: 1, library: "main"}, data: { no_turbolink: true, floor: 1 } %>
  <br>
  <%= link_to "Murray Library", {controller: "admin", action: "map", floor: 1, library: "murray"}, data: { no_turbolink: true, floor: 1 } %>
</div>