<!-- Index of admin panel: contains feedbacks and stats -->
<div id="main-container">
  <nav class="bg-blue">
    <div class="container-fluid">
        <div class="navbar-header">
          <img class="logo" src="/assets/logo-01.png"><h2>Library Maps | Feedback |
          <%= link_to 'Admin Panel', {controller: :admin, action: :map, library: :main, floor: 1} %></h2>
        </div>
   </div>
  </nav>
<div class="container text-center">
  <div class="row">
    <h5>User feedback</h5>
    <div class="statistic col-sm-4">
      <div class="statistic-graphic blue">
        <span class="glyphicon glyphicon-user"></span>
      </div>
      <div class="statistic-text">
        <div class="statistic-title">Total</div>
        <div class="text-center"><%= @total %></div>
      </div>
    </div>
    <div class="statistic col-sm-4">
      <div class="statistic-graphic green">
        <span class="glyphicon glyphicon-ok"></span>
      </div>
      <div class="statistic-text">
        <div class="statistic-title">Found</div>
        <div class="text-center"><%= @found %></div>
      </div>
    </div>
    <div class="statistic col-sm-4">
      <div class="statistic-graphic orange">
        <span class="glyphicon glyphicon-remove"></span>
      </div>
      <div class="statistic-text">
        <div class="statistic-title">Not Found</div>
        <div class="text-center"><%= @total - @found %></div>
      </div>
    </div>
  </div>
  <div class="linkblock row">
    <%= link_to "Main Library", {controller: "admin", action: "map", floor: 1, library: "main"}, data: { no_turbolink: true, floor: 1 }, :class=>"links col-xs-12 col-md-4" %>
    <%= link_to "Murray Library", {controller: "admin", action: "map", floor: 1, library: "murray"}, data: { no_turbolink: true, floor: 1 },  :class=>"links col-xs-12 col-md-4"%>
    <%= link_to "New College Library", {controller: "admin", action: "map", floor: 1, library: "newcollege"}, data: { no_turbolink: true, floor: 1 },  :class=>"links col-xs-12 col-md-4"%>
  </div>
  <div class="row">
    <hr>
    <h5>Messages</h5>
    <table class="table table-striped">
      <tbody>
      <% @feedback_messages.each do |feedback| %>
          <tr>
            <td><%= feedback.name %></td>
            <td><%= feedback.email %></td>
            <td><%= feedback.message %></td>
          </tr>
      <%end%>
      </tbody>
    </table>
</div>

  
</div>

</div>