<body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>" data-floor="<%= @floor %>" data-library="<%= @library %>">

<div id="bd-wrapper">
  <nav class="bg-blue">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <img class="logo" src="/assets/logo-01.png"><h2>LibraryMapping&middot; Admin panel</h2>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right ">
          <li><a class="white-font" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a class="white-font" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--[if IE]><script src="http://fabricjs.com/lib/fonts/Delicious.font.js"></script><![endif]-->



  <link href='http://fonts.googleapis.com/css?family=Plaster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>

  <div style="position:relative;width:100%;float:left;" id="canvas-wrapper">

    <div class="collapse navbar-collapse shortcut">
      <ul class="nav navbar navbar-nav">
        <li><button class="btn shortcutbtn green" onclick="saveCanvas()"><span class="glyphicon glyphicon-floppy-disk"></span></button></li>
        <li><button class="btn shortcutbtn orange" onclick="removeSelected()"><span class="glyphicon glyphicon-trash"></span></button></li>
        <li><button class="btn shortcutbtn btn-primary" onclick="rasterizeSVG()"><span class="glyphicon glyphicon-export"></span> Publish</button></li>
      </ul>

      <label class="optionsTopBarAdmin"> Library: </label>
      <select id="library_option">
        <option value="main">Main Library</option>
        <option value="murray">Murray Library</option>
      </select>

      <label class="optionsTopBarAdmin"> Floors: </label>
      <%= link_to "Lower Ground", {controller: "admin", action: "map", floor: 0, library: @library}, class: "btn btn-default btn-floor", data: { no_turbolink: true, floor: 0 } %>
      <%= link_to "Ground", {controller: "admin", action: "map", floor: 1, library: @library}, class: "btn btn-default btn-floor", data: { no_turbolink: true, floor: 1 } %>
      <%= link_to "First", {controller: "admin", action: "map", floor: 2, library: @library}, class: "btn btn-default btn-floor", data: { no_turbolink: true, floor: 2 } %>
      <%= link_to "Second", {controller: "admin", action: "map", floor: 3, library: @library}, class: "btn btn-default btn-floor", data: { no_turbolink: true, floor: 3 } %>
      <%= link_to "Third", {controller: "admin", action: "map", floor: 4, library: @library}, class: "btn btn-default btn-floor", data: { no_turbolink: true, floor: 4 } %>
      <%= link_to "Fourth", {controller: "admin", action: "map", floor: 5, library: @library}, class: "btn btn-default btn-floor", data: { no_turbolink: true, floor: 5 } %>
    </div>

    <div id="loading-container">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
      <div id="loading-text">Loading...</div>

    </div>

    <div id="canvas-container" style="width: 1300px;margin-left: auto;margin-right: auto;display:none">
      <canvas id="canvas" width="1300px" height="650px"></canvas>
    </div>
  </div>
  <div id="commands">

    <ul class="nav nav-tabs" style="background-color:white">
      <li><a href="#simple-shapes" data-toggle="tab">Simple</a></li>
      <li><a href="#svg-shapes" data-toggle="tab">SVG</a></li>
      <li class="active"><a href="#object-controls-pane" data-toggle="tab">Controls</a></li>
      <li><a href="#load-svg-pane" data-toggle="tab">Load SVG</a></li>
      <li><a href="#execute-code" data-toggle="tab">Execute</a></li>
      <li><a href="#json-inout" data-toggle="tab">JSON</a></li>
    </ul>

    <div class="tab-content" style="padding: 20px;background-color:white; height:670px; overflow: auto;">
      <form class="navbar-form nav-bar marginSearch" role="search">
        <input type="text" id="search" name="search" class="form-control search" placeholder="Search Elements">
        <button type="submit" name="submit" class="btn btn-primary go">Go</button>
      </form>
      <div style="clear:both"></div>
      <div class="tab-pane" id="svg-shapes">
        <p>Add <strong>SVG shapes</strong> to canvas:</p>

        <ul class="svg-shapes">
          <% ElementType.all.each do |type| %>
              <% if type.name != "Wall" %>
                  <li>
                    <button class="fix-width-btn" onclick="addShape(<%= type.id %>, '<%= type.name %>', '<%= asset_path(type.svg_path) %>')">
                      <img src="<%= asset_path(type.svg_path) %>" width="150px" height="150px"> <br>

                    </button>
                    <div class="container-fluid description">
                      <strong><%= type.name %></strong>
                    </div>
                  </li>
              <% else %>
                  <li>
                    <button class="fix-width-btn" onclick="addWall(<%= type.id %>)">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Brick_wall_close-up_view.jpg/640px-Brick_wall_close-up_view.jpg" width="150px" height="150px"> <br>
                    </button>
                    <div class="container-fluid description">
                      <strong>Wall</strong>
                    </div>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane" id="simple-shapes">
        <p>Add <strong>simple shapes</strong> to canvas:</p>
        <p>
          <button type="button" class="btn rect" ng-click="addRect()">Rectangle</button>
          <button type="button" class="btn circle" ng-click="addCircle()">Circle</button>
          <button type="button" class="btn triangle" ng-click="addTriangle()">Triangle</button>
          <button type="button" class="btn line" ng-click="addLine()">Line</button>
          <button type="button" class="btn polygon" ng-click="addPolygon()">Polygon</button>
        </p>

        <p>
          <button class="btn" ng-click="addText()">Add text</button>
        </p>

        <p>Add <strong>images</strong> to canvas:</p>
        <p>
          <button type="button" class="btn image1" ng-click="addImage1()">Image 1 (pug)</button>
          <button type="button" class="btn image2" ng-click="addImage2()">Image 2 (google)</button>
          <button type="button" class="btn image3" n-click="addImage3()">Image 3 (printio)</button>
        </p>

        <p>Add <strong>gradient-based shapes</strong> to canvas:</p>

        <p>
          <button class="btn shape" id="shape74">Gradient 1</button>
          <button class="btn shape" id="shape66">Gradient 2</button>
          <button class="btn shape" id="shape75">Gradient 3</button>
          <button class="btn shape" id="shape148">Gradient 4</button>
        </p>

        <p>Add <strong>arcs</strong> and misc to canvas:</p>

        <p>
          <button class="btn shape" id="shape104">Arc(s) 1</button>
          <button class="btn shape" id="shape105">Arc(s) 2</button>
          <button class="btn shape" id="shape106">Arc(s) 3</button>
          <button class="btn shape" id="shape107">Arc(s) 4</button>
        </p>
        <p>
          <button class="btn shape" id="shape103">Transformed paths</button>
        </p>
        <p>
          <button class="btn shape" id="shape54">Image</button>
        </p>
      </div>

      <div class="tab-pane active" id="object-controls-pane">
        <div id="global-controls">
          <p>
            Rasterize canvas to
            <button class="btn btn-general" id="rasterize" ng-click="rasterize()">
              Image
            </button>
            <button class="btn btn-general" id="rasterize-svg">
              SVG
            </button>
            <button class="btn btn-general" id="rasterize-json" ng-click="rasterizeJSON()">
              JSON
            </button>
          </p>
          <p>
            Enable grid: <input id="gridCheckbox" type="checkbox" checked/>
          <div class="progress-frame">
            <input type="range" value="0.3" step="0.05" min="0.1" max="1" id="zoomSlider"/>
          </div>
          <div class="text-center">
            <button class="btn btn-general" id="zoomIn">Zoom +</button>
            <button class="btn btn-general" id="zoomOut">Zoom -</button>
            <a href="#" class="btn edit"><i class="fa fa-edit"></i> Edit mode</a>
            <a href="#" class="btn grab"><i class="fa fa-arrows"></i> Grab mode</a>
          </div>
          </p>
          <p class="text-center">
            <button class="btn btn-save clear" onclick="saveCanvas()"><span class="glyphicon glyphicon-floppy-disk"></span> Save elements</button>
          </p>
        </div>

        <div class="object-controls text-center">

          <div style="margin-top:10px;">
            <p>
              <button class="btn btn-object-action" id="remove-selected"
                      onclick="removeSelected()">
                <span class="glyphicon glyphicon-trash"></span> Remove selected
              </button>
            </p>

          </div>
        </div>

        <br>
        <br>

        <div id="shelfData">
          <label> Range Start: </label><br>

          <select id="range_down_opt">
            <option value=""></option>
            <option value="Folio ">Folio</option>
            <option value="Pamph. ">Pamph.</option>
            <option value="Ref. ">Ref.</option>
          </select>
          <input type="text" id="range_down_letters" name="rangeDown" placeholder="e.g. QA">
          <input type="text" id="range_down_digits" name="rangeDown" placeholder="e.g. 273">

          <br>

          <label> Range End: </label><br>

          <select id="range_up_opt">
            <option value=""></option>
            <option value="Folio ">Folio</option>
            <option value="Pamph. ">Pamph.</option>
            <option value="Ref. ">Ref.</option>
          </select>
          <input type="text" id="range_up_letters" name="rangeUp" placeholder="e.g. QA">
          <input type="text" id="range_up_digits" name="rangeUp" placeholder="e.g. 273">

          <br>
          <label for="identifier"> Identifier: </label>
          <br>
          <select id="identifier" name="identifier">
            <option value="lc_main" selected="selected">Main Library - General</option>
            <option value="lc_hub">Main Library - Hub</option>
          </select>
          <br><br>
          <button class="btn" id="saveElems" onclick="saveElementData()">Save Element Data</button>
        </div>
      </div>

      <div class="tab-pane" id="load-svg-pane">
      <textarea id="svg-console" bind-value-to="consoleSVG">
      </textarea>
        <button type="button" class="btn btn-info" ng-click="loadSVG()">
          Load
        </button>
        <button type="button" class="btn" ng-click="loadSVGWithoutGrouping()">
          Load without grouping
        </button>
      </div>

      <div class="tab-pane" id="execute-code">
        <textarea id="canvas-console" bind-value-to="console">
        </textarea>
        <button type="button" class="btn btn-info" ng-click="execute()">Execute</button>
      </div>

      <div class="tab-pane" id="json-inout">
      <textarea id="json-console" bind-value-to="consoleJSON">
      </textarea>
        <button type="button" class="btn btn-info" ng-click="loadJSON()">
          Load
        </button>
        <button type="button" class="btn btn-info" ng-click="saveJSON()">
          Save
        </button>
      </div>

    </div>

  </div>
</div>


<script>
  $("#commands")
      .mouseover(function() {
        $("#commands").css("right", 0);
      })
      .mouseout(function() {
        $("#commands").css("right", -490);
      });

  $("#switch").click(function(){
    $("#commands").css("right", 0);
  });


  var canvas = new fabric.CanvasWithViewport('canvas');

  $(document).one("canvas:preloaded", function() {
    <%
    elements = Element.where("floor = :floor AND library = :library", {floor: @floor, library: @library})
    elements.each_with_index do |element, index| %>

    loadElementInCanvas(<%= element.to_json.html_safe %>, "<%= element.element_type.name %>", "<%= asset_path(element.element_type.svg_path) %>", <%= elements.size %>)

    <% end %>

    <% if elements.length == 0 %>
    canvas.renderOnAddRemove = true;
    $('#loading-container').hide();
    $('#canvas-container').fadeIn(500);
    console.log("renderOnAddRemove");
    <% end %>

  })
</script>