<!-- Admin panel: UI for map building-->

<div id="bd-wrapper">
  <%= render 'header' %>

  <div style="position:relative;width:100%;float:left;" id="canvas-wrapper">

    <div class="collapse navbar-collapse shortcut">
      <%= render 'subheader' %>
    </div>

    <div id="loading-container">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
      <div id="loading-text">Loading...</div>
    </div>

    <div id="canvas-container" style="width: 1200px; margin: 0 auto;display:none">
      <canvas id="canvas" width="1200px" height="1000px"></canvas>
    </div>
  </div>
  <%= render 'side_navbar' %>
</div>


<script>
    var sidebarPin = false;
    $("#commands").mouseover(function () {
        if (!sidebarPin) {
            $("#commands").css("right", 0);
        }
    }).mouseout(function () {
        if (!sidebarPin) {
            $("#commands").css("right", -490);
        }
    });

    $('.pin-sidebar').on('click', function () {
        if (sidebarPin) {
            $('.pin-sidebar').css("background-color", "#fff");
        } else {
            $('.pin-sidebar').css("background-color", "#ddd");
        }
        sidebarPin = !sidebarPin;
        $("#commands").css("right", 0);
    });

    $("#switch").click(function () {
        $("#commands").css("right", 0);
    });

    var canvas = new fabric.CanvasWithViewport('canvas');

    <% elements = Element.where(floor: @floor).where(library: @library).order("identifier, range_end") %>
    // Recursively load elements into canvas
    $(window).load(function(){
        <% elements.each do |element| %>
        loadElementInCanvas(<%= element.to_json.html_safe %>, "<%= element.element_type.name %>", "<%= asset_path(element.element_type.svg_path) %>", <%= elements.size %>);
        <% end %>
    });

    // on resize of the window better reload the page
    $(window).on('resize', function(){
      alert("Reload the page if the maps doesn't fit properly after the resize!");
    });
</script>