<!-- Admin panel: UI for map building-->

<body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>" data-floor="<%= @floor %>" data-library="<%= @library %>">

<div id="bd-wrapper">
  <nav class="bg-blue">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <img class="logo" src="/assets/logo-01.png"><h2>LibraryMapping&middot; Admin panel</h2>
      </div>
    </div>
  </nav>
  <!--[if IE]><script src="http://fabricjs.com/lib/fonts/Delicious.font.js"></script><![endif]-->



  <link href='http://fonts.googleapis.com/css?family=Plaster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>

  <div style="position:relative;width:100%;float:left;" id="canvas-wrapper">

    <div class="collapse navbar-collapse shortcut">
      <ul class="nav navbar navbar-nav">
        <li><button class="btn shortcutbtn green" onclick="saveCanvas()"><span class="glyphicon glyphicon-floppy-disk"></span></button></li>
        <li><button class="btn shortcutbtn orange" onclick="removeSelected()"><span class="glyphicon glyphicon-trash"></span></button></li>
        <li><button class="btn shortcutbtn btn-primary" onclick="publishMap()"><span class="glyphicon glyphicon-export"></span> Publish</button></li>
      </ul>

      <label class="optionsTopBarAdmin"> Library: </label>
      <select id="library_option">
        <option value="main">Main Library</option>
        <option value="murray">Murray Library</option>
      </select>

      <label class="optionsTopBarAdmin"> Floors: </label>
      <%= link_to "Lower Ground", {controller: "admin", action: "map", floor: 0, library: @library}, class: "btn btn-default btn-floor", data: { no_turbolink: true, floor: 0 } %>
      <%= link_to "Ground", {controller: "admin", action: "map", floor: 1, library: @library}, class: "btn btn-default btn-floor", data: { no_turbolink: true, floor: 1 } %>
      <%= link_to "First", {controller: "admin", action: "map", floor: 2, library: @library}, class: "btn btn-default btn-floor", data: { no_turbolink: true, floor: 2 } %>
      <%= link_to "Second", {controller: "admin", action: "map", floor: 3, library: @library}, class: "btn btn-default btn-floor", data: { no_turbolink: true, floor: 3 } %>
      <%= link_to "Third", {controller: "admin", action: "map", floor: 4, library: @library}, class: "btn btn-default btn-floor", data: { no_turbolink: true, floor: 4 } %>
      <%= link_to "Fourth", {controller: "admin", action: "map", floor: 5, library: @library}, class: "btn btn-default btn-floor", data: { no_turbolink: true, floor: 5 } %>
    </div>

    <div id="loading-container">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
      <div id="loading-text">Loading...</div>

    </div>

    <div id="canvas-container" style="width: 1300px;margin-left: auto;margin-right: auto;display:none">
      <canvas id="canvas" width="1300px" height="650px"></canvas>
    </div>
  </div>
  <div id="commands">

    <ul class="nav nav-tabs" style="background-color:white" id="main_tabs">
      <li><a href="#svg-shapes" data-toggle="tab">SVG</a></li>
      <li class="active"><a href="#object-controls-pane" data-toggle="tab" id="controls_tab">Controls</a></li>
      <li><a href="#shelves-overview" data-toggle="tab">Shelves</a></li>
      <div class="pin-sidebar glyphicon glyphicon-pushpin"></div>
    </ul>

    <div class="tab-content" style="padding: 20px;background-color:white; height:670px; overflow: auto;">
      <div class="tab-pane" id="svg-shapes">
        <form class="navbar-form nav-bar marginSearch" role="search">
          <input type="text" id="search" name="search" class="form-control search" placeholder="Search Elements">
          <button type="submit" name="submit" class="btn btn-primary go">Go</button>
        </form>
        <div style="clear:both"></div>
        <p>Add <strong>SVG shapes</strong> to canvas:</p>

        <ul class="svg-shapes">
          <% ElementType.all.each do |type| %>
              <% if type.name != "Wall" %>
                  <li>
                    <button class="fix-width-btn" onclick="addShape(<%= type.id %>, '<%= type.name %>', '<%= asset_path(type.svg_path) %>')">
                      <img src="<%= asset_path(type.svg_path) %>" width="150px" height="150px"> <br>

                    </button>
                    <div class="container-fluid description">
                      <strong><%= type.name %></strong>
                    </div>
                  </li>
              <% else %>
                  <li>
                    <button class="fix-width-btn" onclick="addWall(<%= type.id %>)">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Brick_wall_close-up_view.jpg/640px-Brick_wall_close-up_view.jpg" width="150px" height="150px"> <br>
                    </button>
                    <div class="container-fluid description">
                      <strong>Wall</strong>
                    </div>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane active" id="object-controls-pane">
        <div id="gridCheckbox" class="commandCtr">
          <span class="switch-button-label">Grid:</span>
          <div class="switch-button-background">
            <div class="switch-button-button checked" id="gridCheckbox" ></div>
          </div>
        </div>
        <hr style="width:100%;">
        <div style="clear:both;"></div>
        <div id="mode" class="commandCtr">
          <span class="switch-button-label">Mode:</span>
          <div class="mode-background">
            <div class="mode-button grab" id="modeSwitch" >Grab</div>
          </div>
        </div>
        <hr style="width:100%;">
        <div style="clear:both;"></div>
        <div class="row text-center">
          <div class="col-sm-2"> <button class="btn btn-zoom" id="zoomOut">-</button></div>
          <div class="progress-frame col-sm-6">
            <input type="range" value="0.3" step="0.05" min="0.1" max="1" id="zoomSlider"/>
          </div>
          <div class="col-sm-2"><button class="btn btn-zoom" id="zoomIn">+</button></div>
        </div>

        <hr style="width:100%;">
        <div>
          <p class="commandCtr text-center">
            <button class="btn btn-save clear" onclick="saveCanvas()"><span class="glyphicon glyphicon-floppy-disk"></span> Save elements</button>
          </p>
        </div>

        <div >

            <p class="commandCtr text-center">
              <button class="btn btn-object-action" id="remove-selected"
                      onclick="removeSelected()">
                <span class="glyphicon glyphicon-trash"></span> Remove selected
              </button>
            </p>
        </div>

        <hr style="width:100%;">
        <div style="clear:both;"></div>
        <div id="shelfData">
          <label for="identifier"> Identifier: </label>
          <br>
          <select id="identifier" class="form-control" name="identifier">
            <option value="lc_main" selected="selected">Main Library - Main Collection (LC)</option>
            <option value="lc_hub">Main Library - Hub (LC)</option>
            <option value="dewey_main">Main Library - Old Collection Dewey</option>
            <option value="cwss_main">Main Library - C.A.S. / Watt / Smith / Serj. </option>
            <option value="eas_main">Main Library - East Asian Studies (EAS) </option>
            <option value="journal_main">Main Library - Journals</option>
          </select>
          <br>

          <div class="range-form" id ="lc-form" style="display:none">
            <div class="form-group">
            <label> Range Start: </label><br>
            <div class="col-sm-4 marginSearch">
            <select class="range_start_opt form-control">
              <option value=""></option>
              <option value="Folio ">Folio</option>
              <option value="Pamph. ">Pamph.</option>
              <option value="Ref. ">Ref.</option>
            </select>
            </div>
            <div class="col-sm-4"><input type="text" class="range_start_letters form-control" name="rangeDown" placeholder="e.g. QA"></div>
            
            <div class="col-sm-4"><input type="text" class="range_start_digits form-control" name="rangeDown" placeholder="e.g. 273"></div>
            </div>

            <br>
            <div class="form-group">
            <label> Range End: </label><br>
            <div class="col-sm-4 marginSearch">
            <select class="range_end_opt form-control">
              <option value=""></option>
              <option value="Folio ">Folio</option>
              <option value="Pamph. ">Pamph.</option>
              <option value="Ref. ">Ref.</option>
            </select>
            </div>
            <div class="col-sm-4"><input type="text" class="range_end_letters form-control" name="rangeUp" placeholder="e.g. QA"></div>
            <div class="col-sm-4"><input type="text" class="range_end_digits form-control" name="rangeUp" placeholder="e.g. 273"></div>
            </div>
            <br><br>
          </div>

          <div class="range-form" id="dewey-form" style="display:none">
            <div class="form-group">
            <label> Range Start: </label><br>
            <div class="col-sm-4 marginSearch">
              <select class="range_start_opt form-control">
              <option value=""></option>
              <option value="P ">P</option>
              <option value="F ">F</option>
            </select>
            </div>
            <div class="col-sm-6"><input type="text" class="range_start_digits form-control" name="rangeDown" placeholder="e.g. .273"></div>
            </div>
            <br>
            <div class="form-group">
            <label> Range End: </label><br>
            <div class="col-sm-4 marginSearch">
              <select class="range_end_opt form-control">
              <option value=""></option>
              <option value="P ">P</option>
              <option value="F ">F</option>
            </select>
            </div>
            <div class="col-sm-6"><input type="text" class="range_end_digits form-control" name="rangeUp" placeholder="e.g. .273"></div>
            </div>
            <br><br>
          </div>

          <button class="btn" id="saveElems" onclick="saveElementData()">Save Element Data</button>
        </div>
      </div>

      <div class="tab-pane" id="shelves-overview">
        <table id="shelves-table">
          <tbody>
          <tr>
            <th>Shelf id</th><th>Start range</th><th>End range</th><th>Identifier</th><th>Edit</th><th>Select</th>
          </tr>

          </tbody>
        </table>

        <button class="btn shortcutbtn btn-primary" onclick="printRanges()"><span class="glyphicon glyphicon-print"></span> Print ranges</button>
      </div>
    </div>

  </div>
</div>


<script>
  var sidebarPin = false;
  $("#commands")
      .mouseover(function() {
        if(!sidebarPin){
          $("#commands").css("right", 0);
        }
      })
      .mouseout(function() {
        if(!sidebarPin) {
          $("#commands").css("right", -490);
        }
      });

  $('.pin-sidebar').on('click', function(){
    if(sidebarPin){
      $('.pin-sidebar').css("background-color", "#fff");
    }else{
      $('.pin-sidebar').css("background-color", "#ddd");
    }
    sidebarPin = !sidebarPin;
    $("#commands").css("right", 0);
  });

  $("#switch").click(function(){
    $("#commands").css("right", 0);
  });

  var canvas = new fabric.CanvasWithViewport('canvas');

  $(document).one("canvas:preloaded", function() {
    <%
    elements = Element.where("floor = :floor AND library = :library", {floor: @floor, library: @library}).order("identifier, range_end")
    elements.each_with_index do |element, index| %>

    loadElementInCanvas(<%= element.to_json.html_safe %>, "<%= element.element_type.name %>", "<%= asset_path(element.element_type.svg_path) %>", <%= elements.size %>)

    <% end %>

    <% if elements.length == 0 %>
    canvas.renderOnAddRemove = true;
    $('#loading-container').hide();
    $('#canvas-container').fadeIn(500);
    console.log("renderOnAddRemove");
    <% end %>

  });
</script>