<div style="width:100%; height:100%; background-color: #F36E50 ">
  <%= form_for @message, url: '/feedback' do |f| %>
      <% if @success %>
          Thank you for the valuable input!
      <% end %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :message %>
        <%= f.text_area :message %>
      </div>

      <div class="actions">
        <%= f.submit 'Send', class: 'button' %>
      </div>
  <% end %>
</div>