<!-- User maps -->

<% content_for :head do %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<% end %>

<div id="main-container">
  <nav id="mappingNavbar" class="bg-blue" role="navigation">
    <%= render 'mapping_navbar' %>
  </nav>

  <div class="navbar-collapse optionsTopBar">
    <%= render 'subheader' %>
    <i onclick="$('.pull-right').toggle();$('.subheader').toggle();" class="fa hidden-md hidden-lg fa-2x fa-angle-double-up pull-right" aria-hidden="true"></i>
    <i onclick="$('.pull-right').toggle();$('.subheader').toggle();" class="fa hidden-md hidden-lg fa-2x fa-angle-double-down pull-right" aria-hidden="true" style="display: none"></i>
  </div>

  <div id="qr-container">
    <% if @qr %>
        <%= raw @qr.as_html %>
    <% end %>
    <div>Scan the QR Code <br> using your mobile device.</div>
  </div>

  <!--Image map canvas-->
  <div id="image-map" class="
    <% unless @elements %> image-map-open
    <% end %>">
    <script type="text/javascript" charset="utf-8">
      // This should be called only once, so don't move it in the partials
        var library_name = "<%=@library%>", markers = [], overlay;
        var map = L.map('image-map', {
            minZoom: 0.1,
            maxZoom: 4,
            center: [0, 0],
            zoom: 1,
            attributionControl: false,
            crs: L.CRS.Simple
        });

        <%= render 'map_script.js.erb' %>
    </script>
    <div id="compass">
      <%= render 'compass' %>
    </div>
  </div>

  <div id="help-info">
    <div id="help-info-text">
      Have you found your book yet?
    </div>
    <a href="#" id="help-info-yes">
      <div class="bottom-menu">
        Yes!
      </div>
    </a>
    <a href="#" id="help-info-not-yet">
      <div class="bottom-menu">
        Not yet...
      </div>
    </a>
    <a href="#">
      <div class="bottom-menu" id="help-info-no">
        I cannot find it
      </div>
    </a>
  </div>
</div>
