<% content_for :head do %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<% end %>

<body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.css" />


<div id="main-container">
  <!--nav-->
 <nav class="bg-blue">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <img class="logo" src="/assets/logo-01.png"><h2>Library Maps</h2>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right ">
            <li><a class="white-font" id="libraries-and-floors" href="javascript:;"><span class="glyphicon glyphicon-menu-hamburger"></span> Libraries and Floors </a></li>
            <% if @qr %>
              <li><a class="white-font" id="qr-code" href="javascript:;"><span class="glyphicon glyphicon glyphicon-phone"></span> Get it on mobile </a></li>
            <% end %>
            <li><%= link_to '<span class="glyphicon glyphicon-send"></span>Feedback'.html_safe, {controller: "map_display", action: "feedback"}, class: "white-font" %></li>
          </ul>
        </div>
   </div>
  </nav>
  <!--[if IE]><script src="http://fabricjs.com/lib/fonts/Delicious.font.js"></script><![endif]-->



  <link href='http://fonts.googleapis.com/css?family=Plaster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
  <div class="navbar-collapse optionsTopBar" <% if @elements %> style="display: none;" <% end %>>
    <label> Library: </label>
    <select id="library_option">
      <option value="main">Main Library</option>
      <option value="murray">Murray Library</option>
    </select>

    <label> Floors: </label>
    <%= link_to "Lower Ground", {controller: "map_display", action: "map", floor: 0, library: @library}, class: "btn btn-default btn-sm btn-floor", data: { no_turbolink: true, floor: 0 } %>
    <%= link_to "Ground", {controller: "map_display", action: "map", floor: 1, library: @library}, class: "btn btn-default btn-sm btn-floor", data: { no_turbolink: true, floor: 1 } %>
    <%= link_to "First", {controller: "map_display", action: "map", floor: 2, library: @library}, class: "btn btn-default btn-sm btn-floor", data: { no_turbolink: true, floor: 2 } %>
    <%= link_to "Second", {controller: "map_display", action: "map", floor: 3, library: @library}, class: "btn btn-default btn-sm btn-floor", data: { no_turbolink: true, floor: 3  } %>
    <%= link_to "Third", {controller: "map_display", action: "map", floor: 4, library: @library}, class: "btn btn-default btn-sm btn-floor", data: { no_turbolink: true, floor: 4  } %>
    <%= link_to "Fourth", {controller: "map_display", action: "map", floor: 5, library: @library}, class: "btn btn-default btn-sm btn-floor", data: { no_turbolink: true, floor: 5  } %>

    <% if @title %>
      <label> Title: </label>
      <span><%= @title %></span>
    <% end %>

    <% if @author %>
      <label> Author: </label>
      <span><%= @author %></span>
    <% end %>
  </div>

  <div id="qr-container">
    <% if @qr %>
      <%= raw @qr.as_html %>
    <% end %>

    <div>Scan the QR Code <br> using your mobile device! </div>
  </div>


<!--Image map canvas-->
<div id="image-map" class="<% unless @elements %> image-map-open <% end %>"></div>

<div id="help-info">
  <div id="help-info-text">
    Have you found your book yet?
  </div>
  <a href="#" id="help-info-yes">
  <div class="bottom-menu">
    Yes!
  </div>
  </a>
  <a href="#" id="help-info-not-yet">
  <div class="bottom-menu">
    Not yet...
  </div>
  </a>
  <a href="#">
  <div class="bottom-menu" id="help-info-no">
    I cannot find it!
  </div>
  </a>
</div>

<!--Footer-->
<div class="footerHolder">
  <p>
      Unless explicitly stated otherwise, all material is copyright © The University of Edinburgh

      <script type="text/javascript">
      var currentTime = new Date()
      var year = currentTime.getFullYear()
      document.write(+ year)
      </script>
              
    </p>
</div>
</div>
</body>
<script>
  var map = L.map('image-map', {
    minZoom: 0.2,
    maxZoom: 4,
    center: [0, 0],
    zoom: 1,
    attributionControl: false,
    crs: L.CRS.Simple
  });

  // Initialise latlng coordinates of main library
  var _br = fromLatLngToVectorPoint(55.942517,-3.188288);
  var _bl = fromLatLngToVectorPoint(55.942326,-3.189546);
  var _tr = fromLatLngToVectorPoint(55.942999,-3.188516);
  var _tl = fromLatLngToVectorPoint(55.942811,-3.189775);

  var br = reflectYaxis(_bl.subtract(_br));
  var bl = reflectYaxis(_bl.subtract(_bl));
  var tr = reflectYaxis(_bl.subtract(_tr));
  var tl = reflectYaxis(_bl.subtract(_tl));

  // dimensions of the image
  var w = 6000,
      h = 4000,
      url = '/assets/' + '<%= @library %>' + '_' + '<%= @floor %>' + '<%= @extension %>';

  // calculate the edges of the image, in coordinate space
  var southWest = map.unproject([0, h], map.getMaxZoom()-1);
  var northEast = map.unproject([w, 0], map.getMaxZoom()-1);
  var bounds = new L.LatLngBounds(southWest, northEast);

  L.imageOverlay(url, bounds).addTo(map);

  // tell leaflet that the map is exactly as big as the image
  map.setMaxBounds(bounds);


  <% if @elements
  @elements.each do |element| %>
  L.marker(map.unproject([<%= element.left %>, <%= element.top %>], map.getMaxZoom()-1)).addTo(map).bindPopup("<b><%= @title %></b><br> <%= @author %><br> <%= @shelfmark%> ("+$('.btn-floor[data-floor="<%= @floor %>"]').text()+" floor)").openPopup();
  <%  end
  end %>

  <% if @elements %>
  if($(window).width() < 1100) {
    helpInfo(5000);
  }
  <% end %>

  $('.btn-floor[data-floor="<%= @floor %>"]').addClass("currentButton");
  $('#library_option').val("<%= @library %>");
  $('#library_option').on('change', function() {
    window.location.replace(document.location.origin + "?library=" + this.value);
  });

</script>
