<!-- User maps -->

<% content_for :head do %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<% end %>

<body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.css" />

<div id="main-container">
  <!--nav-->
 <nav class="bg-blue">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <img class="logo" src="/assets/logo-01.png"><h2 id="floor_info"></h2>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          		<ul class="nav navbar-nav navbar-right ">
            		<li>
              		<a class="white-font" id="compass_btn" href="javascript:;" alt="Show Direction" title="Show Direction"><i class="fa fa-compass" aria-hidden="true"></i> Direction</a>
            		</li>
            		<li><a class="white-font" id="libraries-and-floors" href="javascript:;"  alt="Show Direction" title="Show Direction"><span class="glyphicon glyphicon-menu-hamburger"></span>Libraries</a></li>
            		<% if @qr %>
              			<li><a class="white-font" id="qr-code" href="javascript:;" alt="Show Direction" title="Show Direction"><span class="glyphicon glyphicon glyphicon-phone"></span>Get on mobile</a></li>
            		<% end %>
            		<li><%= link_to '<span class="glyphicon glyphicon-send"></span>Feedback'.html_safe, {controller: "map_display", action: "feedback"}, class: "white-font", data: { no_turbolink: true } %></li>
          		</ul>
        </div>
   </div>
  </nav>
  <!--[if IE]><script src="http://fabricjs.com/lib/fonts/Delicious.font.js"></script><![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Plaster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Engagement' rel='stylesheet' type='text/css'>
  <div class="navbar-collapse optionsTopBar" <% if @elements %> style="display: none;" <% end %>>
    <div class="col-xs-6 col-sm-3 label-style">
      <label> Library: </label>
      <select id="library_option">
        <option value="main">Main Library</option>
        <option value="murray">Murray Library</option>
      </select>
    </div>
    
    <div class="col-xs-6 col-sm-3 label-style">
        <label> Floors: </label>
        <select id="floor_buttons">
        </select>
        <!-- <span id="floor_buttons"> -->
        <!-- </span> -->
    </div>

<div class="col-xs-12 col-sm-6 padding-0">
    <label> Elements: </label>
    <a class="btn btn-default btn-sm btn-floor" data-no-turbolink="true" href="/?floor=<%=@floor%>&library=<%=@library%>&element_name=Print" alt="Printers" title="Printers">Printers</a>
    <a class="btn btn-default btn-sm btn-floor" data-no-turbolink="true" href="/?floor=<%=@floor%>&library=<%=@library%>&element_name=female" alt="Toilets" title="Toilets">Toilets</a>
    <a class="btn btn-default btn-sm btn-floor" data-no-turbolink="true" href="/?floor=<%=@floor%>&library=<%=@library%>&element_name=groupstudy" alt="Group study" title="Group study">Group study</a>
</div>
    <% if @title %>
      <label> Title: </label>
      <span><%= @title %></span>
    <% end %>

    <% if @author %>
      <label> Author: </label>
      <span><%= @author %></span>
    <% end %>
  </div>

  <div id="qr-container">
    <% if @qr %>
      <%= raw @qr.as_html %>
    <% end %>
    <div>Scan the QR Code <br> using your mobile device! </div>
  </div>

<!--Image map canvas-->
<div id="image-map" class="<% unless @elements %> image-map-open <% end %>">
  <div id="compass">
    <div class="compass-up">
        <span class="compass"><i class="fa fa-chevron-up" aria-hidden="true"></i> North</span><br>
    </div>
    <div class="compass-down">
      <span class="compass"><i class="fa fa-chevron-down" aria-hidden="true"></i> South</span>
    </div>
  </div>
</div>

<div id="help-info">
  <div id="help-info-text">
    Have you found your book yet?
  </div>
  <a href="#" id="help-info-yes">
  <div class="bottom-menu">
    Yes!
  </div>
  </a>
  <a href="#" id="help-info-not-yet">
  <div class="bottom-menu">
    Not yet...
  </div>
  </a>
  <a href="#">
  <div class="bottom-menu" id="help-info-no">
    I cannot find it
  </div>
  </a>
</div>

<!--Footer-->
<div class="footerHolder">
  <p>
      Unless explicitly stated otherwise, all material is copyright © The University of Edinburgh

      <script type="text/javascript">
      var currentTime = new Date()
      var year = currentTime.getFullYear()
      document.write(+ year)
      </script>              
    </p>
</div>
</div>
</body>
<script>
  var map = L.map('image-map', {
    minZoom: 0.1,
    maxZoom: 4,
    center: [0, 0],
    zoom: 0.1,
    attributionControl: false,
    crs: L.CRS.Simple
  });

  // dimensions of the image
  var w = libraries_data["<%=@library%>"].box_size.width,
      h = libraries_data["<%=@library%>"].box_size.height,
      url = '/assets/' + '<%= @library %>' + '_' + '<%= @floor %>' + '<%= @extension %>';

  console.log(w,h);
  // calculate the edges of the image, in coordinate space
  var southWest = map.unproject([0, h], map.getMaxZoom()-1);
  var northEast = map.unproject([w, 0], map.getMaxZoom()-1);
  var bounds = new L.LatLngBounds(southWest, northEast);

  L.imageOverlay(url, bounds).addTo(map);

  // tell leaflet that the map is exactly as big as the image
  map.setMaxBounds(bounds);


  // Load appropriate floors buttons into container
  libraries_data["<%=@library%>"].floors.forEach(function(floor) {
    // $("#floor_buttons").append("<a class='btn btn-default btn-sm btn-floor' data-no-turbolink='true' data-floor='"+floor.order+"' href='/?floor="+floor.order+"&library=<%=@library%>'>"+floor.name+"</a>");
    $("#floor_buttons").append("<option value='"+floor.order+"'>"+floor.name+"</option>");
  });

  L.AwesomeMarkers.Icon.prototype.options.prefix = 'fa';
  <% if @elements and @elements.length > 0

    @elements.each do |element| %>
      L.marker(map.unproject([<%= element.left %>, <%= element.top %>], map.getMaxZoom()-1), {
        icon: L.AwesomeMarkers.icon({
          icon: 'book',
          markerColor: 'red'
        })
      }).addTo(map).bindPopup("<b><%= @title %></b><br> <%= @author %><br> <%= @shelfmark%> ("+$('.btn-floor[data-floor="<%= @floor %>"]').text()+" floor)").openPopup();
    <%  end %>

    if($(window).width() < 1100) {
      helpInfo(10000);
    }
  <% elsif @is_searching %>
    $.notify({
      message: 'We couldn\'t find this book in the maps. Find someone at the Helpdesk for help.'
    },{
      type: 'danger',
      offset: 10
    });
  <% end %>

  //check the elements
  <% if @elementnames and @elementnames.length > 0
    @elementnames.each do |elementname| %>
    L.marker(map.unproject([<%= elementname.left %>, <%= elementname.top%>], map.getMaxZoom()-1), {
        icon: L.AwesomeMarkers.icon({
          icon: 'location-arrow',
          markerColor: 'blue'
        })
      }).addTo(map)
    <%  end %>
  <% elsif @searching_element %>
    $.notify({
      message: 'We couldn\'t find this Elements on this floor. Find someone at the Helpdesk for help.'
    },{
      type: 'danger',
      offset: 10
    });
  <% end %>


  $('.btn-floor[data-floor="<%= @floor %>"]').addClass("currentButton");
  $('#floor_info').html(libraries_data["<%=@library%>"].floors[<%= @floor%>].name + " Floor");
  $('#library_option').val("<%= @library %>");
  $('#library_option').on('change', function() {
    window.location.replace(document.location.origin + "?library=" + this.value + "&floor=1");
  });
  $('#floor_buttons').val("<%= @floor%>")
  $('#floor_buttons').on('change', function() {
    window.location.replace(document.location.origin + "?floor=" + this.value + "&library=<%=@library%>");
  });

  //toggle button for show direction
  $('#compass_btn').click(function(){
    $('#compass').toggle();
  })

</script>
