<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <title>LibraryMapping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://www.librarymaps.co.uk/assets/css/font-awesome.min.css">
</head>
<body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>" data-floor="<%= @floor %>" data-library="<%= @library %>">

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
